html {
  height: 139%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.update-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.update-header {
  margin-bottom: 400px;
  padding-bottom: 30px;
  top: 0;
  margin-top: -40px;
}

.update-box {
  position: relative;
  top: 10%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin-bottom: -300px;
  margin-top: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.notDisplay {
  display: none;
}

.update-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.update-box .user-box {
  position: relative;
  margin-bottom: 30px;
}

.update-box .user-box input,
.update-box .user-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.update-box .user-box select option {
  color: #03e9f4; 
  background-color: #243b55; 
}

.update-box .user-box select:focus {
  border-bottom: 1px solid #03e9f4; 
}

.update-box .user-box label {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.update-box .user-box input:focus ~ label,
.update-box .user-box input:valid ~ label,
.update-box .user-box select:focus ~ label,
.update-box .user-box select:valid ~ label {
  top: -25px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.update-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  /* margin-top: -90px; */
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.update-box a:hover {
  background: #03e9f4;
  color: #252525;
  border-radius: 5px;
}

p {
  color: #757a80;
}

.toggles {
  color: #03e9f4;
  cursor: pointer;
}

@keyframes btn-anim1 {
  0% {
      left: -100%;
  }
  50%, 100% {
      left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
      top: -100%;
  }
  50%, 100% {
      top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
      right: -100%;
  }
  50%, 100% {
      right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
      bottom: -100%;
  }
  50%, 100% {
      bottom: 100%;
  }
}
